Repository Learnathon-By-Geeky-Solutions/segfault, pull requests merged in 2025-02, with the labels that each got.

#36 feature(auth): Add Authentication API
  backend/codesirius/authentication/admin.py
  backend/codesirius/authentication/migrations/0001_initial.py
  backend/codesirius/authentication/migrations/0002_customuser_full_name.py
  backend/codesirius/authentication/models.py
  backend/codesirius/authentication/models/__init__.py
  backend/codesirius/authentication/models/user.py
  backend/codesirius/authentication/models/verification.py
  backend/codesirius/authentication/serializers.py
  backend/codesirius/authentication/serializers/__init__.py
  backend/codesirius/authentication/serializers/signup.py
  backend/codesirius/authentication/serializers/token_obtain_pair.py
  backend/codesirius/authentication/serializers/token_refresh.py
  backend/codesirius/authentication/serializers/token_verify.py
  backend/codesirius/authentication/serializers/verification_code.py
  backend/codesirius/authentication/tests.py
  backend/codesirius/authentication/tests/__init__.py
  backend/codesirius/authentication/tests/test_auth_api.py
  backend/codesirius/authentication/tests/test_user_model.py
  backend/codesirius/authentication/urls.py
  backend/codesirius/authentication/views.py
  backend/codesirius/authentication/views/__init__.py
  backend/codesirius/authentication/views/auth.py
  backend/codesirius/authentication/views/token_obtain_pair.py
  backend/codesirius/authentication/views/token_refresh.py
  backend/codesirius/authentication/views/token_verify.py
  backend/codesirius/authentication/views/verification.py
  backend/codesirius/authentication/views/whoami.py
  backend/codesirius/codesirius/codesirius_api_response.py
  backend/codesirius/codesirius/email_or_username_backend.py
  backend/codesirius/codesirius/exception_handler.py
  backend/codesirius/codesirius/models.py
  backend/codesirius/codesirius/settings.py
  backend/codesirius/codesirius/urls.py
  backend/codesirius/codesirius/views.py
  backend/requirements.dev.txt
  backend/requirements.txt
  docker-compose.yml
  frontend/.dockerignore
Labels: enhancement, Backend

#40 Load sensitive info from github secrets to run CI
  .github/workflows/checks.yml
  docker-compose.yml
Labels: Backend, Testing

#44 fix(sonarcloud): fix sonarcloud issues
  backend/Dockerfile
  backend/codesirius/authentication/admin.py
  backend/codesirius/authentication/models/verification.py
  backend/codesirius/codesirius/exception_handler.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/auth/signup/accountInformation.tsx
  frontend/src/app/problems/add/code-editor.tsx
Labels: enhancement, Frontend, Backend

#43 fix(main): run for pr on main
  .github/workflows/checks.yml
Labels: enhancement, Scoring, Testing

#42 [Snyk] Fix for 15 vulnerabilities
  backend/requirements.txt
Labels: Security

#45 Fix and Refactor: SonarCloud Issues, Email Validation, and Exception Handling
  backend/Dockerfile
  backend/codesirius/authentication/admin.py
  backend/codesirius/authentication/models/verification.py
  backend/codesirius/codesirius/exception_handler.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/auth/signup/accountInformation.tsx
  frontend/src/app/problems/add/code-editor.tsx
Labels: enhancement, Frontend, Backend

#51 feature(logging): configure logging in the backend
  .github/workflows/checks.yml
  backend/Dockerfile
  backend/codesirius/codesirius/settings.py
  backend/codesirius/logs/.gitkeep
  docker-compose.yml
  feat(verification)__add_VerificationCode.patch
Labels: enhancement, Backend, Testing

#71 feature(deploy): deploy to ec2 on push on main
  .github/workflows/deploy.yml
Labels: enhancement

#77 fix(preset): load preset files after pull
  .github/workflows/deploy.yml
Labels: enhancement

#84 feature(sonarcloud): add SonarCloud Scan job
  .github/workflows/checks.yml
  backend/Dockerfile
  backend/codesirius/.coveragerc
  sonar-project.properties
Labels: enhancement, Backend, Deployment, Testing
